@font-face{
    font-family: "Reem Kufi Ink";
    src: url("font\ReemKufiInk-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Anton";
    src: url("font\Anton-Regular.ttf") format("truetype");
}


body{
    padding: 0;
    margin: 0;
    background: url(img/TextureBackground.png), #ffbc6f;
    background-attachment: fixed;
}

*{
    font-family: "Reem Kufi Ink", serif;
}

h1, h2, h3{
    font-family: "Anton", serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 63, 63);
    border-radius: 0 0 18px 18px;
    text-align: center;
    padding: 2% 30% 2% 30%;
}

a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

h1{
    text-align: center;
    margin: 5%;
}

#div_pres_intro{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 8% 15%;
}

#div_pres_intro img{
    width: 38%;
    border: 2px solid black;
}

#div_pres_intro div{
    width: 54%;
}

#div_pres_intro p{
    line-height: 1.6;
    letter-spacing: 1px;
    margin: auto 3% 7% 5%;
    text-align: justify;
}

hr{
    margin-right: 25%;
    margin-left: 4%;
    height: 1px;
    background-color: black;
}